.accountdetails {
  display: flex;
}

.accountdetails__left {
  flex: 0.5;
}

.user__details {
  margin-top: 16px;
  display: flex;
}

.user__details > button {
  margin-left: auto;
}

.user__image img {
  border-radius: 9999px;
  margin-top: 20px;
}

.accountdetails__right {
  padding: 30px;
  flex: 0.5;
}

@media (max-width: 1300px) {
  .user__details {
    display: block;
  }
  .accountdetails {
    display: block;
  }
}

.roominvites {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
